In [1]:
weekdays=['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [4]:
weekdays1=('星期一','星期二','星期三','星期四','星期五','星期六','星期日')
weekdays1

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [3]:
tuple1=(10,20,30)
print(tuple1)

(10, 20, 30)

In [9]:
tuple1=(10,20,30)
tuple1[0]

20

In [10]:
tuple1=(10,20,30)
display(tuple1[0])
display(tuple1[1])

10

20

In [12]:
tuple1=(10,20)
value1,value2=tuple1
display(value1)
value2

10

20

In [13]:
#建立tuple,省略tuple1
2,4,6,8,10

(2, 4, 6, 8, 10)

In [18]:
#dictionary

codes={"tw":"Taiwan",
       "jp":"Japan",
       "Ch":"China",
       "HK":"Hong Kong"}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'Ch': 'China', 'HK': 'Hong Kong'}

In [19]:
codes['tw'], codes['jp']

('Taiwan', 'Japan')

In [22]:
codes["US"]="United States"
codes

{'tw': 'Taiwan',
 'jp': 'Japan',
 'Ch': 'China',
 'HK': 'Hong Kong',
 'hk': 'Hong Kong',
 'US': 'United States'}

In [23]:
codes['hk']

'Hong Kong'

In [25]:
weekdays=['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
for items in weekdays:
    print(items)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [26]:
#mapping
codes={"tw":"Taiwan",
       "jp":"Japan",
       "Ch":"China",
       "HK":"Hong Kong"}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'Ch': 'China', 'HK': 'Hong Kong'}

In [27]:
for key in codes:
    print(f'key:{key},value:{codes[key]}')

key:tw,value:Taiwan
key:jp,value:Japan
key:Ch,value:China
key:HK,value:Hong Kong

In [28]:
type(codes)

dict

In [29]:
#dict 實體方法keys()
codes.keys()

dict_keys(['tw', 'jp', 'Ch', 'HK'])

In [30]:
for key in codes.keys():
    print(key)

tw
jp
Ch
HK

In [31]:
list(codes.keys())

['tw', 'jp', 'Ch', 'HK']

In [32]:
#dict 實體方法values()
codes.values()

dict_values(['Taiwan', 'Japan', 'China', 'Hong Kong'])

In [33]:
#dict 實體方法items()
codes.items()

dict_items([('tw', 'Taiwan'), ('jp', 'Japan'), ('Ch', 'China'), ('HK', 'Hong Kong')])

In [34]:
for items in codes.items():
    print(items)

('tw', 'Taiwan')
('jp', 'Japan')
('Ch', 'China')
('HK', 'Hong Kong')

In [35]:
for key,value in codes.items():
    print(f"key:{key}, value:{value}")

key:tw, value:Taiwan
key:jp, value:Japan
key:Ch, value:China
key:HK, value:Hong Kong

In [36]:
#comprehension 簡潔方式建立list, dictionary, set

number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list.append(6)

number_list

[1, 2, 3, 4, 5, 6]

In [37]:
number_list1 = []
for i in range(1,7):
    number_list1.append(i)
number_list1

[1, 2, 3, 4, 5, 6]

In [38]:
#list 的comprehension
number_list2 = [i for i in range(1,7)]
number_list2

[1, 2, 3, 4, 5, 6]

In [39]:
number_list3 = [i for i in range(1,21) if i % 2 == 0]
number_list3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]