In [5]:
class student:
    pass

In [6]:
stu1=student()
stu1.name="賴智宸"
stu1.chinese=86
stu1.english=83
stu1.math=78

In [7]:
stu2=student()
stu2.name="賴奕亨"
stu2.chinese=80
stu2.english=88
stu2.math=84

In [8]:
stu1.name,stu1.chinese,stu1.english,stu1.math

('賴智宸', 86, 83, 78)

In [9]:
stu2.name,stu2.chinese,stu2.english,stu2.math

('賴奕亨', 80, 88, 84)

In [10]:
class student:
    def __init__(self,name,chinese,english,math):
        self.name=name
        self.chinese=chinese
        self.english=english
        self.math=math

In [11]:
stu1=student("賴智宸",86,83,78)
stu1.name,stu1.chinese,stu1.english,stu1.math

('賴智宸', 86, 83, 78)

In [12]:
stu2=student("賴奕亨",80,88,84)
stu2.name,stu2.chinese,stu2.english,stu2.math

('賴奕亨', 80, 88, 84)

In [15]:
class student:
    def __init__(self,name,chinese,english,math):
        self.name=name
        self.chinese=chinese
        self.english=english
        self.math=math
    def total(self)->int:
        return self.chinese+self.english+self.math
    @property
    def average(self)->float:
        return self.total()/3.0

In [16]:
stu1=student("賴智宸",86,83,78)
display((stu1.name,stu1.chinese,stu1.english,stu1.math))
stu1.total(),stu1.average

('賴智宸', 86, 83, 78)

(247, 82.33333333333333)

In [17]:
stu2=student("賴奕亨",80,88,84)
display((stu2.name,stu2.chinese,stu2.english,stu2.math))
stu2.total(),stu2.average

('賴奕亨', 80, 88, 84)

(252, 84.0)