In [2]:
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [4]:
weekdays[:3]

['星期一', '星期二', '星期三']

In [5]:
weekdays[-3:]

['星期五', '星期六', '星期日']

In [6]:
another_empty_list=list()
another_empty_list

[]

In [3]:
cities = ['台北','台中','高雄']
type(cities)

list

In [4]:
cities.append('屏東')
cities

['台北', '台中', '高雄', '屏東']

In [5]:
cities.insert(0,'基隆')
cities

['基隆', '台北', '台中', '高雄', '屏東']

In [6]:
cities.remove('台中')
cities

['基隆', '台北', '高雄', '屏東']

In [7]:
months = ['january', 'februrary', 'march', 'april', 'may', 'june', 'july','august','september','october','november','december']
months

['january',
 'februrary',
 'march',
 'april',
 'may',
 'june',
 'july',
 'august',
 'september',
 'october',
 'november',
 'december']

In [2]:
#透過字串的split產生list
birthday="1/3/2001"
blist=birthday.split(sep="/")
bblist=[]
for item in blist:
    if int(item)//10==0:
        item ="0"+item
    bblist.append(item)
print(bblist)
new_birthday='/'.join(bblist)
new_birthday

['01', '03', '2001']

'01/03/2001'

In [13]:
#tuple,只可以讀取元素,無法新增,無法修改元素,無法刪除元素
cities_tuple = ('台北','台中','高雄')
for item in cities_tuple:
    print(item)

台北
台中
高雄

In [10]:
cities_tuple[2]

'高雄'

In [14]:
cities_tuple=('基隆','台北','台中','高雄')
for item in cities_tuple:
    print(item)

基隆
台北
台中
高雄

In [18]:
cities_tuple[3]

'高雄'